html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  background-color: #e6e6e6;
}

.heading h1 {
  padding-left: 10px;
  font-size: 30px;
  background-color: black;
  color: white;
  text-align: center;
}

.heading span {
  font-size: 25px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.personlTask-wrapper .error {
  color: red;
  margin-left: 30px;
}

.taskCreate {
  margin-top: 20px;
  height: 45px;

}

input,select {
  font-size: 100%;
}

.taskCreate .createTaskName {
  width: 750px;
  height: 30px;
  margin-left: 30px;
}

.taskCreate .createTaskStatus {
  width: 200px;
  height: 37px;
  margin-right: 15px;
}



.taskCreate .btn {
  width: 100px;
}

.taskIndex {
  font-size: 25px;
  margin-top: 20px
}

.taskIndex table {
  margin-left: 50px;
  margin-bottom: 30px;
}

.taskIndex .taskStatus {
  padding-left: 50px;
  height: 50px;
}

.taskIndex .taskStatusIncomplete {
  background-color: red;
  color: white;
  border-radius: 30px 30px 30px 30px;
  font-size: 20px;
  text-align: center;
  width: 100px;
}

.taskIndex .taskStatusComplete {
  background-color: blue;
  color: white;
  border-radius: 30px 30px 30px 30px;
  font-size: 20px;
  text-align: center;
  width: 100px;
}

.taskIndex .taskName {
  padding-left: 60px;
  padding-right: 100px;
  width: 600px;
  word-wrap: break-word;
}

.taskIndex a {
  margin-right: 10px;
  text-decoration: none;
}


.taskIndex input {
  border:none;
  background-color:transparent;
  color:blue;
  text-decoration:underline;
  text-decoration: none;
}

.taskIndex input:hover {
  cursor: pointer;
}

.taskIndex a,input {
  font-size: 20px
}

.taskIndexGroup_wrapper {
  padding-bottom: 30px;
}

.taskIndexGroup_wrapper table {
  width: 50%;
  margin: 0 auto;
  border-collapse:collapse;
  border-spacing: 0;
  text-align: center;
  margin-top: 20px;
}

.taskIndexGroup_wrapper .taskIndexGroup {
  border-bottom: solid;
  padding-top: 20px;
}

.taskIndexGroup_wrapper h2 {
  font-weight: bold;
  background-color: black;
  color: white;
}

.taskIndexGroup_wrapper h3 {
  font-weight: normal;
}

.editTask_wrapper .error {
  color: red;
  margin-left: 30px;
}

.taskEdit {
  margin-top: 20px;
  height: 45px;
}

.taskEdit .editTaskName {
  width: 750px;
  height: 30px;
  margin-left: 30px;
}

.taskEdit .editTaskStatus {
  width: 200px;
  height: 38px;
  margin-right: 15px;
}

.taskEdit .btn {
  width: 100px;
}

.editTask_wrapper .container{
  padding-bottom: 100px;
}

.heading a {
  float: right;
}

.createGroupLink {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
}

.searchGroup {
  float: left;
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}

.searchGroup .search {
  font-size: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

.searchGroup h2 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 5px;
}

.searchGroup select {
  margin-left: 5px;
  margin-right: 5px;
}

.searchGroup input {
  margin-left: 5px;
  margin-bottom: 10px;
}

.searchGroup .keyword {
  width: 180px;
  font-size: 15px;
}

.searchGroup .btn {
  font-size: 15px;

}

.groupIndex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  text-align: center;
}

.groupIndex a {
  text-decoration: none;
  display: block;
  color: black;
  background-color: white;
}

.group {
  border: 2px solid white;
  width: 200px;
  margin-left: 25px;
  margin-bottom: 25px;
  font-size: 12px;
  border-radius: 10px 10px 10px 10px;
}

.createGroup-wrapper .error {
  color: red;
  margin-left: 30px;
}

.createGroup-wrapper .container {
  height: 700px;
}

.createGroup {
  width: 60%;
  margin: 0 auto;
  background-color: white;
}

.createGroup table td {
  padding-top: 30px;
}

.createGroup h2{
  margin-left: 30px;
  margin-right: 40px;
  font-size: 20px;
}

.createGroup input,select,textarea{
  margin-left: 30px;
}

.createGroup select {
  height: 30px;
}

.createGroup .btn {
  margin-bottom: 20px;
  margin : 0 auto;
  margin-left: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.groupDetails-wrapper .container {
  height: 1000px;
}

.groupDetails {
  width: 60%;
  margin: 0 auto;
  background-color: white;
}

.groupDetailsTable {
  margin-left: 30px;
}

.groupDetailsTable h2 {
  font-size: 30px;
  padding-top: 20px;
}

.groupDetailsTable h3 {
  font-weight: normal;
  padding-top: 20px;
  padding-left: 30px;
  width: 430px;
}



.groupDetailsTask_wrapper h1 {
  font-size: 20px;
  padding-left: 70px;
  font-weight: normal;
}

.groupDetailsTask_wrapper h2 {
  margin-left: 170px;
  margin-top: 60px;
  margin-bottom: 100px;
  font-weight: normal;
}

.groupDetails img {
  width: 70px;
  height: 70px;
  margin-left: 60px;
  margin-top: 30px;
}

.groupDetails .btn {
  margin-left: 220px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.groupDetails .taskTable {
  width: 100%;
  margin-top: 50px;
  background-color: black;
  color: white;
}

.groupDetails .taskTable td {
  padding-left: 50px;
}

.groupDetails .taskTable .taskTable_task {
  padding-left: 80px;
}

.profileEdit-wrapper .error{
  color: red;
  margin-left: 30px;
}

.profile .profileEdit {
  margin-left: 150px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.profile {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.profile table {
  margin-top: 30px;
  padding-bottom: 30px;
}

.profile img {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile h2 {
  width: 120px;
  padding-left: 50px;
  padding-right: 70px;
  padding-bottom: 20px;
}

.profile h3 {
  font-weight: normal;
  width: 60%;
  word-wrap: break-word;
  padding-bottom: 20px;
}

.calendar-wrapper .heading {
  margin-bottom: 30px;
}

.calendar {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

.calendar span {
  font-size: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.calendar a {
  font-size: 30px;
}

.calendar table {
  font-size: 30px;
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.calendar th {
  background-color: black;
  color: white;
}

.calendar td {
  border: 3px solid black;
}

.profileEdit-wrapper .container {
  height: 700px;
}

.profileEdit {
  width: 60%;
  margin: 0 auto;
  background-color: white;
}



.profileEdit h2 {
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.profileEdit input {
  margin-left: 30px;
}

.profileEdit select {
  height: 25px;
}

.profileEdit .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
}

.editPassword-wrapper .error {
  color: red;
  margin-left: 30px;
}

.editPassword h2 {
  margin-left: 30px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.editPassword input {
  margin-left: 30px;
}

.editPassword .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
}

.editPassword {
  width: 60%;
  margin: 0 auto;
  background-color: white;
}

.editPassword-wrapper .container {
  height: 500px;
}

.ranking-wrapper .container {
  height: 800px;
}

.rankings {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.ranking {
  width: 50%;
  margin-bottom: 30px;
  font-size: 20px;
}

.ranking h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.ranking table td {
  padding-right: 30px;
  padding-bottom: 10px;
}

.ranking .rankName {
  padding-left: 20px;
  padding-right: 20px;
}

.ranking .taskRank {
  padding-left: 10px;
}

.ranking .taskAchievementRate {
  padding-left: 30px;
}

header {
  background:black;
  margin-bottom: 5px;
}

header .app-logo {
  float: left;
}

header .app-logo h2 {
  padding-left: 30px;
  font-weight: normal;
  height: 55px;
  line-height: 55px;

}

header ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  height: 55px;
  align-items: center;
  font-size: 15px;
  padding-right: 30px;
}

header ul li{
  margin-right: 15px;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

.chartChange{
  text-align: center;
  margin-top: 10px;
}

.oneWeekChart-wrapper{
  display: block;
}

.monthChart-wrapper{
  display: none;
}

.groupDetailsTask_wrapper {
  display: flex;
}

.login-wrapper .container {
  height: 700px;
}

.login {
  background-color: white;
  margin: 0 auto;
  width: 60%;
}