html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  background-color: #e6e6e6;
}

.heading h1 {
  padding-left: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

.heading span {
  font-size: 25px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.personlTask-wrapper .error {
  color: red;
  margin-left: 30px;
}

.taskCreate {
  margin-top: 20px;
  height: 45px;

}

input,select {
  font-size: 100%;
}

.taskCreate .createTaskName {
  width: 750px;
  height: 30px;
  margin-left: 30px;
  margin-right: 15px;
}

.taskCreate .createTaskStatus {
  width: 200px;
  height: 30px;
  margin-right: 15px;
}

.taskCreate .btn {
  width: 100px;
}

.taskIndex {
  font-size: 25px;
  margin-top: 20px
}

.taskIndex .taskStatus {
  padding-left: 30px;
  height: 50px;
}

.taskIndex .taskName {
  padding-left: 30px;
  width: 700px;
}

.taskIndex a {
  margin-right: 10px;
}

.taskIndex input {
  border:none;
  background-color:transparent;
  color:blue;
  text-decoration:underline;
}

.taskIndex input:hover {
  cursor: pointer;
}

.taskIndex a,input {
  font-size: 20px
}

.editTask_wrapper .error {
  color: red;
  margin-left: 30px;
}

.taskEdit {
  margin-top: 20px;
  height: 45px;
}

.taskEdit .editTaskName {
  width: 750px;
  height: 30px;
  margin-left: 30px;
  margin-right: 15px;
}

.taskEdit .editTaskStatus {
  width: 200px;
  height: 30px;
  margin-right: 15px;
}

.taskEdit .btn {
  width: 100px;
}

.editTask_wrapper .container{
  padding-bottom: 100px;
}

.heading a {
  float: right;
}

.searchGroup {
  float: left;
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 10px;
}

.searchGroup .search {
  font-size: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

.searchGroup h2 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 5px;
}

.searchGroup select {
  margin-left: 5px;
  margin-right: 5px;
}

.searchGroup input {
  margin-left: 5px;
  margin-bottom: 10px;
}

.groupIndex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  text-align: center;
}

.groupIndex a {
  text-decoration: none;
  display: block;
}

.group {
  border: 2px solid black;
  width: 200px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.createGroup-wrapper .error {
  color: red;
  margin-left: 30px;
}

.createGroup-wrapper .container {
  height: 700px;
}

.createGroup {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.createGroup h1{
  margin-left: 30px;
  margin-top: 20px;
}

.createGroup input,select,textarea{
  margin-left: 30px;
}

.createGroup .btn {
  margin-bottom: 20px;
}

.groupDetails-wrapper .container {
  height: 700px;
}

.groupDetails {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.groupDetails h1 {
  margin-left: 30px;
  margin-top: 20px;
}

.groupDetails h2 {
  margin-left: 40px;
}

.groupDetails .btn {
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.profileEdit-wrapper .error{
  color: red;
  margin-left: 30px;
}

.profile .profileEdit {
  margin-left: 150px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.profile {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.profile img {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile h1,h2 {
  width: 60%;
  margin: 0 auto;
}

.profile h1 {
  padding-top: 10px;
}

.profile h2 {
  padding-left: 50px;
  margin-bottom: 10px;
}

.calendar-wrapper .heading {
  margin-bottom: 30px;
}

.calendar {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.calendar span {
  font-size: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.calendar a {
  font-size: 30px;
}

.calendar table {
  font-size: 30px;
  width: 70%;
  margin: 0 auto;
}

.calendar th {
  background-color: black;
  color: white;
}

.calendar td {
  border: 3px solid black;
}

.profileEdit-wrapper .container {
  height: 700px;
}

.profileEdit {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.profileEdit h1 {
  margin-left: 30px;
  margin-top: 10px;
}

.profileEdit input {
  margin-left: 30px;
}

.profileEdit .btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.editPassword-wrapper .error {
  color: red;
  margin-left: 30px;
}

.editPassword h1 {
  margin-left: 30px;
  margin-top: 10px;
}

.editPassword input {
  margin-left: 30px;
}

.editPassword .btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.editPassword {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.editPassword-wrapper .container {
  height: 500px;
}

.ranking-wrapper .container {
  height: 700px;
}

.rankings {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.ranking {
  width: 50%;
  margin-bottom: 30px;
  font-size: 20px;
}

.rankName {
  padding-left: 20px;
  padding-right: 20px;
}

header {
  background:black;
  margin-bottom: 5px;
}

header ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  height: 80px;
  align-items: center;
  font-size: 25px;

}

header ul li{
  margin-right: 15px;
  color: white;
}